@font-face{
    font-family: Arial;
    src: url('./font/minecraftia-Regular/Minecraftia-Regular.ttf');
}
*{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

:root{
    font-size: 10px;

    --c1: blue;
    --c2: #ddd;
    --c3:rgb(127, 127, 127);
    --c4: rgba(127, 127, 127, 0.5);

}

body{
    background-color: var(--c1);   
    margin: 0;
}

#navbar{
    background-color: var(--c4);
    width: 100%;
    padding: 5px 10px 5px 10px;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container a{
    text-decoration: none;
}

.buttons{
    color:red;
    border: 2px red solid;
}

button{
    color:blue !important;
}

.content{
    padding: 0 10px 0 10px;
}

.icon{
    margin: 0 10px 0 10px;
}